<web-app version="3.0" xmlns="java.sun.com/xml/ns/javaee"
	xmlns:xsi="w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="java.sun.com/xml/ns/javaee java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	metadata-complete="false">
	<display-name>Spring MVC Form Handling</display-name>
	
	<servlet>
		<servlet-name>EzSystem</servlet-name>
		<servlet-class>
			org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>EzSystem</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	<error-page>
		<error-code>405</error-code>
		<location>/erroDeBusca</location>
	</error-page>

</web-app>
